@font-face {
	font-family: bold;
	src: url('/fonts/Bold.woff2');
  }
  
  @font-face {
	font-family: normal;
	src: url('/fonts/Regular.woff2');
  }
  
*{
	font-family : normal;
	font-size: 16px;
	
	--bg-color : #FAEEE7;
	--black-color : #262627;
	--primary-color : #24A19C;
	--secondary-color : #325288;
	--tertiary-color : #D96098;
	
  }
  
  /* Element Level Styles - Start */
  
body {
	margin:0;
	font-family : normal;
	background-color: var(--bg-color);
}

/** Utility Classes **/

.flex{
	display: flex;
}

.flex-column{
	flex-direction: column;
}

.flex-row{
	flex-direction: row;
}

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

.fixed{
	position : fixed ;
}

.text-primary{
	color : var(--primary-color) !important;
}

.text-secondary{
	color : var(--secondary-color) !important;
}

.text-tertiary{
	color : var(--tertiary-color) !important;
}

.text-white{
	color: white;
}

.text-light{
	font-weight: 300;
}

.text-bold{
	font-weight: 500;
}

.text-boldest{
	font-weight: 900;
}

.justify-space-between{
	justify-content: space-between;
}

.justify-space-around{
	justify-content: space-around;
}

.align-center{
	align-items: center;
}

.align-stretch{
	align-items: stretch;
}

.align-end{
	align-items: flex-end;
}


.justify-center{
	justify-content: center;
}

.grow{
	flex-grow: 1;
}

.border-box{
	box-sizing: border-box;
}

.text-underline{
	text-decoration: underline;
}

.text-center{
	text-align: center;
}

.text-large{
	font-size: 1.75rem;
}

.justify-start{
	justify-content: flex-start;
}

.justify-end{
	justify-content: flex-end;
}

.justify-space-evenly{
	justify-content: space-evenly;
}

.bg-white{
	background-color: white;
}

.bg-transparent{
	background-color: transparent;
}

.bg-tertiary{
	background-color: var(--tertiary-color);
}

.bg-secondary{
	background-color: var(--secondary-color);
}

.bg-primary{
	background-color: var(--primary-color);
}

.pointer{
	cursor: pointer;
}

.badge {
	padding: .33rem;
	color: white;
	border-radius: 5px;
}

.badge-primary{
	background-color: var(--primary-color);
}

.badge-secondary{
	background-color: var(--secondary-color);
}

.badge-tertiary{
	background-color: var(--tertiary-color);
}